%h1 Signup!

= form_for @user  do |f|
  Name:
  = f.text_field :user_name
  %br
  Email:
  = f.text_field :email
  %br
  Password:
  = f.password_field :password
  %br
  Password Confirmation:
  = f.password_field :password_confirmation
  %br
  = f.submit "Submit"