<!DOCTYPE html>
<html>
<head>
  <title>Ewebra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>


<% if current_user %>
    Signed in as <%= current_user.user_name %> | <%= link_to "Logout", '/logout' %>
<% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>


<%= yield %>

</body>
</html>
